.wrapper {
    height: 100vh;
    
}
.main  {
    height: 100%;   
}

.left {
    height: 100%;
    color:#3d5afe;
}

.right {
    height: 100%;
    background-color: #E1E2E1;
    background-image: url('https://lh3.googleusercontent.com/a-ZUpOl7dz3UkOFikSDQi1GEcldZYe7tL4PQT3cKSDyrE_qEpNOM0brJpBHjR6FBW9Q=w300');
    background-repeat:no-repeat;
    background-position: center center;    
}

.row-form{
    height: 100%;
}

.image{
    height: 30vh;
}

@media (min-width: 992px) { 
    .col-form{
        max-width: 500px;
    }

 }
